
    
    <div class="insight-wrapper">

      
   <div class="line-chart-wrapper">
  
       <div class="chart-column">
      
           <div class="line-chart-filter" style="margin-top: 20px;">
               <label for="filterOrder1" style="margin-right: 10px; font-weight: bold;">Filter:</label>
               <select id="filterOrder1" (change)="updateChart($event)">
                <option value="retailer">Retailers</option>
                 <option value="brand">Brand</option>
                 <option value="state">State</option>
           
               </select>
             </div>
           <div class="line-chart">
               <canvas id="lineChartCanvas"></canvas>
             </div>
       </div>
      
        <div class="chart-column">
            <div class="line-chart-filter" style="margin-top: 20px;">
              <label for="filterDollar2" style="margin-right: 10px; font-weight: bold;">Filter:</label>
              <select id="filterDollar2" (change)="updateChartDollarVolume($event)">
                <option value="retailer">Retailers</option>
                <option value="brand">Brand</option>
                <option value="state">State</option>
          
              </select>
            </div>
            <div class="line-chart">
              <canvas id="lineChartCanvasDollarVolume"></canvas>
            </div>
        </div>
   </div>
   <div class="bar-chart">
    <canvas id="canvas"></canvas>
  </div>
    </div>