  <div class="container mw_1440">
    <div class="right_head">
      <h2 class="heading_main">Retailer</h2>
      <ul class="buttons_listing">
        <li>
          <button class="btn btn_1"><span class="icons"></span> Create Rule</button>
        </li>&nbsp;
        <li>
          <button class="btn btn_1"><span class="icons"></span> Add new Location</button>
        </li>
      </ul>
    </div>
    <div class="data_container">
      <div class="filter_container">
        <ul class="filter_listing">
          <li>
            <div class="search_bar">
              <input type="text" name="" placeholder="Search" class="form-control" id="" />
              <span class="icons search_icon"></span>
            </div>
          </li>
        </ul>
      </div>
      <div class="table-responsive">
        <table class="table table_ui_1">
          <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Address</th>
            <th scope="col">Rules Applied</th>
            <th scope="col">Location ID</th>
            <th scope="col">Added on</th>
            <th scope="col">Action</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>1</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>Otto</td>
            <td>
              <ul class="action_listing">
                <li>
                  <a href="javascript:void(0)">
                    <span class="icons edit_icon"></span>
                  </a>
                </li>
                <li>
                  <a href="javascript:void(0)">
                    <span class="icons delete_icon"></span>
                  </a>
                </li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>2</td>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
            <td>Otto</td>
            <td>
              <ul class="action_listing">
                <li>
                  <a href="javascript:void(0)">
                    <span class="icons edit_icon"></span>
                  </a>
                </li>
                <li>
                  <a href="javascript:void(0)">
                    <span class="icons delete_icon"></span>
                  </a>
                </li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>3</td>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
            <td>Otto</td>
            <td>
              <ul class="action_listing">
                <li>
                  <a href="javascript:void(0)">
                    <span class="icons edit_icon"></span>
                  </a>
                </li>
                <li>
                  <a href="javascript:void(0)">
                    <span class="icons delete_icon"></span>
                  </a>
                </li>
              </ul>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<!-- </div> -->
<!-- </div> -->

