<!-- <p>payments works!</p> -->
<!-- <p>rules works!</p> -->
<style>
    table {
      table-layout: fixed;
      word-wrap: break-word;
    }
  
    .pagination {
      display: block;
    }
  
    .pagination li {
      display: inline-block;
      margin: 5px;
    }
  </style>
  <div class="container mw_1440">
    <div class="right_head" style="margin-bottom: 3%;">
      <h2 class="heading_main">Brands</h2>
      <div class="row my-4">
      <div class="col-12 col-md-4"  *ngIf="currentUserValue && currentUserValue.roleId < 3">
        <label>Brand</label>:
        <input class="form-control col12 input-search-order" [(ngModel)]="brandName" placeholder="example brand">
        <span [ngStyle]="{'display': 'none', 'color':'#FF0000'}" class="invalid-search-order">Please Enter Brand Name</span>
    </div>
    <div class="col-12 col-md-4">
      <label>Retailer</label>:
      <input class="form-control col12 input-search-order" [(ngModel)]="retailerName" placeholder="example retailer">
      <span [ngStyle]="{'display': 'none', 'color':'#FF0000'}" class="invalid-search-order">Please Retailer Name</span>
    </div>
    <div class="col-12 col-md-4 " >
      <label>Date</label>:
      <div class="date-container">

        <input
          class="form-control"
          placeholder="yyyy-mm-dd"
          name="dp"
          [(ngModel)]="model"
          ngbDatepicker
          #d="ngbDatepicker"
        />
      <span  (click)="d.toggle()"  class="material-symbols-outlined date-button">
          calendar_month
          </span>
      </div>
    </div>  
      </div>
      <div class="btn-container">
        <button class="btn btn-primary" (click)="search_fn()">Search</button>
        <button class="btn btn-danger" (click)="clear_search_fn()">Clear Filter</button>
      </div>
    </div>
  
  
    <div class="data_container">
      <div class="table-responsive">
        <table class="table table_ui_1">
          <thead>
            <tr>
              <th scope="col">Brand Name</th>
              <th scope="col">Website</th>
              <th scope="col">Contact</th>
              <th scope="col">Email</th>
              <th scope="col">Commission</th>
              <th scope="col">Active</th>
              <th scope="col">Details</th>

              <!-- <th scope="col">Action</th> -->


            </tr>
          </thead>
          <tbody name="payoutData" ngDefaultControl [(ngModel)]="payoutData" *ngIf="payoutData?.length != 0">
            <tr *ngFor="let data of payoutData">
              <td>{{data.brandName?data.brandName:"N/A"}}</td>
              <td>
                <a *ngIf="data.website" [href]="data.website" target="_new">{{data.website}}</a>
                <span *ngIf="!data.website">N/A</span>
              </td>
              <td>{{data.contact?data.contact:"N/A"}}</td>
              <td>{{data.email?data.id:"N/A"}}</td>
              <td>{{data?.commission?data?.commission:"N/A"}}
                <span  (click)="openEditCommissionModal(data, editCommissionModal)" class="icons edit_icon"></span>
              </td>

              <td>
                <span class="badge badge-success" style="padding:7px" *ngIf="data.isActivated">SUCCESS</span>
                <span class="badge badge-danger" style="padding:7px" *ngIf="!data.isActivated">PENDING</span>
                
              </td>
              <td>
                <span 
                ngbTooltip="View brand details"
                (click)="handleNavigate(data.id)"
                class="material-symbols-outlined pointer-cursor">
                  visibility
                  </span>
              </td>
              <!-- <td>
              <span (click) = "openEditBrandModal(data, editBrandModal)" class="material-symbols-outlined">
                edit
                </span>
            </td> -->

            </tr>
          </tbody>
          <tbody *ngIf="!loading && payoutData?.length == 0">
            <tr>
              <td colspan="9" class="no-data-available">No data!</td>
            </tr>
          <tbody>
          <tbody *ngIf="loading">
            <tr>
              <td colspan="9" class="no-data-available">Loading Fulfillments...</td>
            </tr>
          <tbody>
        </table>
      </div>
  
      <!-- pagination start -->
  
      <ul *ngIf="((payoutData && payoutData.length)) " class="pagination">
        <li [ngClass]="{disabled:pageNumber === 1}" class="page-item first-item">
          <a (click)="navigateToPage(1)" class="page-link">First</a>
        </li>
        <!-- <li [ngClass]="{disabled:pageNumber === 1}" class="page-item previous-item">
          <a (click)="navigatePrev()" class="page-link">Previous</a>
        </li> -->
        <ng-container *ngIf="numPages <= 10; else second">
          <li *ngFor="let page of pages" [ngClass]="{active:pageNumber === page}" class="page-item number-item">
            <a (click)="navigateToPage(page)" class="page-link">{{page}}</a>
          </li>
        </ng-container>
        <ng-template #second>
          <ng-container *ngIf="pageNumber <= 5; else third">
            <li *ngFor="let page of [1,2,3,4,5,6,7,8]" [ngClass]="{active:pageNumber === page}"
              class="page-item number-item">
              <a (click)="navigateToPage(page)" class="page-link">{{page}}</a>
            </li>
            <li class="page-item number-item"><a class="page-link">...</a></li>
            <li [ngClass]="{active:pageNumber === numPages - 1}" class="page-item number-item"><a class="page-link"
                (click)="navigateToPage(numPages - 1)">{{numPages - 1}}</a></li>
            <li [ngClass]="{active:pageNumber === numPages}" class="page-item number-item"><a class="page-link"
                (click)="navigateToPage(numPages)">{{numPages}}</a></li>
          </ng-container>
  
        </ng-template>
        <ng-template #third>
          <ng-container *ngIf="(pageNumber > 5 && pageNumber < numPages - 5); else fourth">
            <li [ngClass]="{active:pageNumber === 1}" class="page-item number-item"><a class="page-link"
                (click)="navigateToPage(1)">1</a></li>
            <li [ngClass]="{active:pageNumber === 2}" class="page-item number-item"><a class="page-link"
                (click)="navigateToPage(2)">2</a></li>
            <li class="page-item number-item"><a class="page-link">...</a></li>
  
            <li *ngFor="let page of [(pageNumber-2),(pageNumber-1),(pageNumber),(pageNumber + 1),(pageNumber + 2)]"
              [ngClass]="{active:pageNumber === page}" class="page-item number-item">
              <a (click)="navigateToPage(page)" class="page-link">{{page}}</a>
            </li>
            <li class="page-item number-item"><a class="page-link">...</a></li>
            <li [ngClass]="{active:pageNumber === numPages - 1}" class="page-item number-item"><a class="page-link"
                (click)="navigateToPage(numPages - 1)">{{numPages - 1}}</a></li>
            <li [ngClass]="{active:pageNumber === numPages}" class="page-item number-item"><a class="page-link"
                (click)="navigateToPage(numPages)">{{numPages}}</a></li>
          </ng-container>
        </ng-template>
        <ng-template #fourth>
          <ng-container>
            <li [ngClass]="{active:pageNumber === 1}" class="page-item number-item"><a class="page-link"
                (click)="navigateToPage(1)">1</a></li>
            <li [ngClass]="{active:pageNumber === 2}" class="page-item number-item"><a class="page-link"
                (click)="navigateToPage(2)">2</a></li>
            <li class="page-item number-item"><a class="page-link">...</a></li>
  
            <li
              *ngFor="let page of [(numPages-6),(numPages-5),(numPages - 4),(numPages- 3),(numPages - 2), (numPages - 1),(numPages)]"
              [ngClass]="{active:pageNumber === page}" class="page-item number-item">
              <a (click)="navigateToPage(page)" class="page-link">{{page}}</a>
            </li>
          </ng-container>
        </ng-template>
        <!-- <li [ngClass]="{disabled:pageNumber === numPages}" class="page-item next-item">
          <a (click)="navigateNext()" class="page-link">Next</a>
        </li> -->
        <li [ngClass]="{disabled:pageNumber === numPages}" class="page-item last-item">
          <a (click)="navigateToPage(numPages)" class="page-link">Last</a>
        </li>
      </ul>
  
      <!-- pagination end -->
  
  
      <br />
      <!-- <div>
        <label class="alert alert-info" *ngIf="dataLength!=0 " style="padding: 4px">Current Page: {{pageNumber}}</label>
      </div> -->
    </div>
  </div>
  <ng-template #editCommissionModal let-modal>
    <div class="modal-content">
      <div class="modal-header" id="modal-basic-title">
        <h5 class="modal-title">Edit Commission for Brand</h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.close('Close Clicked')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="commissionForm" novalidate (ngSubmit)="submitCommission()">
        <div class="modal-body">
          <div class="form-group">
            <label class="control-label" for="commission">Commission: <span class="star">*</span></label>
            <input type="text" class="form-control" formControlName="commission" id="commission" placeholder="Enter Commission" />
            <small *ngIf="commissionForm.get('commission').invalid && commissionForm.get('commission').touched" class="text-danger">
              Please enter a valid commission (e.g., 10%, 50%).
            </small>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="modal.close('Close Clicked')">Close</button>
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>
    </div>
  </ng-template>

  <ng-template #editBrandModal let-modal>
    <div class="modal-content">
      <div class="modal-header" id="modal-basic-title">
        <h5 class="modal-title">Edit Brand</h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.close('Close Clicked')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="editForm" novalidate (ngSubmit)="handleSubmitEditBrand()">
        <div class="modal-body">
          <div class="form-group">
            <label class="control-label" for="brandName">Brand Name: <span class="star">*</span></label>
            <input type="text" class="form-control" formControlName="brandName" id="brandName" placeholder="Enter Brand Name" />
            <small *ngIf="editForm.get('brandName').invalid && editForm.get('brandName').touched" class="text-danger">
              Please enter a valid Brand name.
            </small>
          </div>
          <div class="form-group">
            <label class="control-label" for="email">Brand Name: <span class="star">*</span></label>
            <input type="text" class="form-control" formControlName="email" id="email" placeholder="Enter Email" />
            <small *ngIf="editForm.get('email').invalid && editForm.get('email').touched" class="text-danger">
              Please enter a valid Email.
            </small>
          </div>
          <div class="form-group">
            <label class="control-label" for="website">Website: <span class="star">*</span></label>
            <input type="text" class="form-control" formControlName="website" id="website" placeholder="Enter website" />
            <small *ngIf="editForm.get('website').invalid && editForm.get('website').touched" class="text-danger">
              Please enter a valid Website.
            </small>
          </div>
          <div class="form-group">
            <label class="control-label" for="contact">Phone number: <span class="star">*</span></label>
            <input type="text" class="form-control" formControlName="contact" id="contact" placeholder="Enter contact" />
            <small *ngIf="editForm.get('contact').invalid && editForm.get('contact').touched" class="text-danger">
              Please enter a valid Phone number.
            </small>
          </div>
          <div class="form-group has-label col-12">
            <label class="control-label" for="">isActivated:
              <span class="star">*</span>
            </label><br>
            <div class="form-check-inline">
              <label class="form-check-label">
                <input type="radio" class="form-control" style="height: auto; width: auto; display: inline-block;"
                  formControlName="isActivated" id="isActivated-true"  value=true> Yes
              </label>
            </div>
            <div class="form-check-inline">
              <label class="form-check-label">
                <input type="radio" class="form-control" style="height: auto; width: auto; display: inline-block;"
                  formControlName="isActivated" id="isActivated-false" value=false> No
              </label>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="modal.close('Close Clicked')">Close</button>
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>
    </div>
  </ng-template>
  