<div class=" row "  style="margin: 0px ">
    <div class="col-12 mb-4">
        <label class="mb-2">STORE_URL</label>:
        <input class="form-control col12 input-search-order" [(ngModel)]="STORE_URL" placeholder="example.myshopify.com">
    </div>
    <div class="col-12 mb-4">
        <label class="mb-2">STORE_PASSWORD</label>:
        <input class="form-control col12 input-search-order" [(ngModel)]="STORE_PASSWORD" placeholder="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">
    </div>
    <div class="col-12 mb-4">
        <label class="mb-2">STORE_ACCESS_ID</label>:
        <input class="form-control col12 input-search-order" [(ngModel)]="STORE_ACCESS_ID" placeholder="32c354b632796f5556f75f8a36f4b234">
    </div>
    <div class="col-6">
        <button class="btn btn-primary" [disabled]="!STORE_ACCESS_ID || !STORE_PASSWORD || !STORE_URL" (click)="saveData()">Connect Shopify Store</button> &nbsp;
        <button class="btn btn-success" (click)="FetchData()">Sync Shopify Products</button>
    </div>
</div>
